<%# Message d'accueil user %>
<div class="container text-center mb-5">
  <div class="pt-4">
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <% @newTitle = "Hi #{current_user.pseudo}" %>
        <%= render "layouts/header" %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <% @newTitle = "Hi there" %>
        <%= render "layouts/header" %>
      </div>
    <% end %>
    <div class="d-flex flex-column align-items-center w-100">
      <% if @products.count === 1 %>
        <p class="text-center font-heavy heavy-border-bottom mx-3 mb-0" style="width: fit-content;" > There is <%=@products.count%> gear</p>
        <p class="text-center font-heavy heavy-border-bottom mx-3" style="width: fit-content;" > waiting for you !</p>
      <% elsif @products.count === 0 %>
        <p class="text-center font-heavy heavy-border-bottom mx-3" style="width: fit-content;">
          Sorry, we don't have any gears corresponding to your search.<br><br>
          What about discovering one of them : <%Product.first(3).each do |product|%>
            <p><%= product.title.split("My")[1]%></p>
          <% end %>
          </p>
      <% else %>
        <p class="text-center font-heavy heavy-border-bottom mx-3 mb-0" style="width: fit-content;" > There is <%=@products.count%> gear</p>
        <p class="text-center font-heavy heavy-border-bottom mx-3" style="width: fit-content;" > waiting for you !</p>
      <% end %>

      <%= form_with url: home_path, method: :get, class: "d-flex search-bar px-3 mt-5" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-query",
              placeholder: "Discover your new favorite sport"
          %>
        <%= submit_tag "Search", name: "", class:"custom-btn-submit" %>
      <% end %>
    </div>
  </div>
</div>

  <%# Cards home page %>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class:"text-decoration-none p-0" do %>

        <div class="custom-card mx-3 mb-3 custom-shadow">
          <div class="position-relative">
            <%# METTRE UNE PHOTO DE PROFIL DIFFERENTE EN FONCTION DE CL OU PAS %>
            <%# <% raise %>
            <% if product.photos.attached? %>
               <%= cl_image_tag product.photos[0].key, crop: :fill, class: "w-100 h-100", style: "object-fit: cover;" %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2tpfGVufDB8fDB8fHww"alt="" style="width: 100%; height: 100%; object-fit: cover;">
            <% end %>
            <%# <%= image_tag("bike/biking_hat.jpg", class='w-100 p-0', alt: 'Product Image')%>
          </div>

          <div class="d-flex mt-3 align-items-center px-3 w-100">
            <p class="title mb-1 flex-grow-1" ><%= product.title %></p>
            <div class ="price-container pt-2">
              <% @price = product.price %>
              <%= render "layouts/price" %>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>


<%# </div> %>
