<%# Message d'accueil user %>

<div class="container text-center mb-5">
  <div class="pt-4">
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <% @newTitle = "Hi #{current_user.pseudo}" %>
        <%= render "layouts/header" %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <% @newTitle = "Hi there" %>
        <%= render "layouts/header" %>
      </div>

    <% end %>
    <div class="d-flex flex-column align-items-center w-100">
      <p class="text-center font-heavy heavy-border-bottom mx-3" style="width: fit-content;" >All these <%=Product.count%> gears</p>
      <p class="text-center font-heavy heavy-border-bottom mx-3" style="width: fit-content;" >are waiting for you !</p>
    </div>
  </div>
</div>

  <%# Cards home page %>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class:"text-decoration-none p-0" do %>

        <div class="custom-card mx-3 mb-3 custom-shadow">
          <div class="position-relative">
            <%= image_tag("bike/biking_hat.jpg", class: 'w-100 p-0', alt: 'Product Image')%>
          </div>

          <div class="d-flex mt-3 align-items-center px-3">
            <p class="title mb-1" ><%= product.title %></p>
            <p class="price mb-0"><%= product.price %>€/j</p>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>


<%# </div> %>
