<div class="container text-center bg-white mb-5">
  <div class="pt-4">
    <% if user_signed_in? %>
      <h2 class="text-center">Hi <%=current_user.pseudo %></h2>
      <p class="text-center">All these <%=Product.count%> gears are wainting for you</p>
    <% else %>
      <h2 class="text-center">Hi there!</h2>
      <p class="text-center">All these <%=Product.count%> gears are wainting for you</p>
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <% @products.each do |product| %>
    <%= link_to product_path(product), class:"text-decoration-none" do %>
      <div class="shadow-sm rounded p-3 lg-6 text-center">

        <div class="position-relative">
          <%= image_tag("bike/biking_hat.jpg", class: 'card-img-top', alt: 'Product Image')%>
          <div class="position-absolute" style="right:10px; bottom:10px; color:#A2FFA0;font-size: 20px;font-weight: bold; text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">
            <%= product.price %>€
          </div>
        </div>
        <h3 class="mt-4"><%= product.title %></h3>
        <%# <%= product.description%>
      </div>

    <%# <div class="card-body"> %>
     <%# <div class="position-absolute p-3" style="right:10px; bottom:10px"> %>
          <%# </div> %>
        <%# </div> %>
      <% end %>
    <% end %>
  </div>
</div>
