<%# Message d'accueil user %>

<div class="container text-center mb-5">
  <div class="pt-4">
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <% @newTitle = "Hi #{current_user.pseudo}" %>
        <%= render "layouts/header" %>
      </div>
      <p class="text-center">All these <%=Product.count%> gears are waiting for you</p>
    <% else %>
      <h1 class="text-center header">Hi there!</h1>
      <p class="text-center">All these <%=Product.count%> gears are waiting for you</p>
    <% end %>
  </div>
</div>

  <%# Cards home page %>

  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <% @products.each do |product| %>
    <%= link_to product_path(product), class:"text-decoration-none" do %>
      <div class="shadow-sm rounded-4 p-3 lg-6 text-center bg-light mb-3 ">

        <div>
          <%= image_tag("bike/biking_hat.jpg", class: 'card-img-top rounded-4', alt: 'Product Image')%>
          <div class=" d-flex justify-content-between" style="border-radius: 50px; padding: 8px; color:#3e3434;font-size: 20px;font-weight: bold;">
            <div><%= product.title %></div>
              <div><%= product.price %>€/j</div>
            </div>
          </div>
        </div>
         <%# <%= product.description%>
      </div>
      <% end %>
    <% end %>
  </div>

<%# </div> %>
