<div class="d-flex justify-content-center align-items-center">
  <div class="mx-3 mt-5">
    <% @newTitle = "Book this product" %>
    <%= render "layouts/header" %>
  </div>
</div>

<div class="form-template pb-2">
<%= simple_form_for [@product, @booking], html: { data: { controller: 'datepicker' }} do |f| %>
  <div class="card_for_booking mb-5">
    <div class="d-flex container justify-content-center align-center">

      <div>
        <%= f.input :ending_date,
                    label: "When do you need this product ?",
                    label_html: { class: 'd-block text-center', style: "font-size: 18px; padding-bottom: 10px;" },
                    class: 'text-center ',
                    as: :string,
                    input_html: {
                      data: {
                              datepicker_target: 'endDateInput',
                              dynamic_price_target: 'endDateInput',
                              action:"change->datepicker#updatePrice"},
                    id:"endingDate"
                              } %>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <div class="fit-content position-relative">
          <div class="highlight-green-transparent-2 z-2"></div>
          <div class="highlight-green-2 z-0"></div>
          <div data-target="datepicker.productPrice">
            <div class="price-date" data-target="datepicker.productPrice" style="font-size: 22px;"><%= @product.price %>€<span class="p-discret">/j</span></div>
          </div>

      </div>
    </div>

    <div class="d-flex container justify-content-center align-center">
      <%= f.button :submit, class: "custom-btn-submit my-0 mt-3" %>
    </div>
  </div>
<% end %>
</div>
