<div class="container">

<div class="form-template">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :title, placeholder: "Ex: Bike to eat the road, Jack!", class: "input-form" %>
    <%= f.input :description, placeholder: 'Tell us more about your product', class: "input-form" %>
    <%= f.input :price, class: "input-form",
                label: "Price per day (€/j)"%>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, class: "input-form" %>
    <div class="text-center">
      <%= f.button :submit, class: "custom-btn-submit" %>
    </div>
  <% end %>
</div>

</div>
   <%# <%=f.button :button, class:"btn btn-primary"%>
