<%# Nom du produit %>
  <div class="mx-5">
    <% @newTitle = @product.title %>
    <%= render "layouts/header" %>
  </div>

<%# Image produit %>
<div>
  <%= image_tag("bike/biking_hat.jpg", class: 'd-block w-100', style: 'height: 25;', alt: 'Image bike')%>
</div>



  <%# Description Produit %>
  <p class="my-2"><%= @product.description %></p>


  <%# renvoie le formulaire de réservation si l'on est connecté %>

  <% if user_signed_in? %>
    <% if @booked %>
      <div class="mx-3">
        <p>"You are already booked in !" </p>
      </div>
    <% else %>
      <%= render "form_booking" %>
    <% end %>

    <%# check si il y a déjà une réservation de faite par l'utilisateur %>

  <%# si l'on est pas connecté affiche un lien vers le new user %>
  <% else %>
    <p><%= link_to "Book this product", new_user_session_path, class:"btn btn-reservation" %></p>
  <% end %>


  <%# Affichage des photos du nouveau produit %>
  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
