<%# Nom du produit %>

<div class="container pt-5">
    <div class="mx-5">
    <% @newTitle = @product.title %>
    <%= render "layouts/header" %>
  </div>

<%# Affichage des photos du nouveau produit %>
  <% if @product.photos.attached? %>
    <div class="d-flex flex-column">
       <%= cl_image_tag @product.photos[0].key, height: 300, class: "img_fitted", crop: :fill %>
    <div class="d-flex w-100 justify-content-between py-2">
       <%= cl_image_tag @product.photos[1].key, class:"img_fitted", style:"width: 30%;"%>
       <%= cl_image_tag @product.photos[2].key, class:"img_fitted", style:"width: 30%;"%>
       <%= cl_image_tag @product.photos[3].key, class:"img_fitted", style:"width: 30%;"%>
    </div>
  </div>
  <% else %>
    <div class="d-flex flex-column">
     <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted">
    <div class="d-flex w-100 justify-content-between py-2">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
    </div>
  </div>
<% end %>



  <%# Description Produit %>
<p class="my-2"><%= @product.description %></p>

<%# renvoie le formulaire de réservation si l'on est connecté %>

  <%# renvoie le formulaire de réservation si l'on est connecté %>

  <% if user_signed_in? %>
    <% if current_user.products.include?(@product) %>
      <div class="mx-3">
        <p>"It's your product!" </p>
      </div>
    <% elsif @booked %>
      <div class="mx-3">
        <p>"You already booked it !" </p>
      </div>
    <% else %>
      <%= render "form_booking" %>
    <% end %>

    <%# check si il y a déjà une réservation de faite par l'utilisateur %>

  <%# si l'on est pas connecté affiche un lien vers le new user %>
  <% else %>
    <div class="text-center mt-5">
      <%= link_to "Book this product", new_user_session_path, class:"btn-outerlined bg-white custom-shadow", style:"font-size: 22px;" %>
    </div>
  <% end %>


</div>

    <%# div class="d-flex flex-column"  %>
      <%# <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted"> %>

    <%# <div class="d-flex w-100 justify-content-between py-2"> %>
          <%# <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;"> %>

      <%# <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;"> %>
