<%# Nom du produit %>

<div class="container pt-5">
    <div class="mx-5">
    <% @newTitle = @product.title %>
    <%= render "layouts/header" %>
  </div>

  <div class="d-flex flex-column">
    <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted">
    <%#= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>
    <div class="d-flex w-100 justify-content-between py-2">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
      <img src="https://images.unsplash.com/photo-1475666675596-cca2035b3d79?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img_fitted" style="width: 30%;">
      <%#= cl_image_tag @product.photos.first.key, height: 100, crop: :fill %>
      <%#= cl_image_tag @product.photos.first.key, height: 100, crop: :fill %>
      <%#= cl_image_tag @product.photos.first.key, height: 100, crop: :fill %>
    </div>
  </div>

  <%# Description Produit %>
<p class="my-2"><%= @product.description %></p>

<%# renvoie le formulaire de réservation si l'on est connecté %>

  <%# renvoie le formulaire de réservation si l'on est connecté %>

  <% if user_signed_in? %>
    <% if @booked %>
      <div class="mx-3">
        <p>"You are already booked in !" </p>
      </div>
    <% else %>
      <%= render "form_booking" %>
    <% end %>

    <%# check si il y a déjà une réservation de faite par l'utilisateur %>

  <%# si l'on est pas connecté affiche un lien vers le new user %>
  <% else %>
    <p><%= link_to "Book this product", new_user_session_path, class:"btn btn-reservation" %></p>
  <% end %>

<%# Affichage des photos du nouveau produit %>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
