<%# Nom du produit %>
<h1><%= @product.title %></h1>

<%# Carousel %>
<%= render 'shared/carousel', title: @product.title %>

<div>
<%# Description Produit %>
<%= @product.description %>
</div>

<% if user_signed_in? %>
  <%= render "form_booking" %>
<% else %>
  <%= link_to "Booked", new_user_session_path %>
<% end %>


<%# Affichage des photos du nouveau produit %>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
