<h1>JE SUIS LA SHOW DU PRODUCT <%= @product.title %></h1>
<h2>Je m'affiche même si je ne suis pas connecté</h2>

<%# Nom du produit %>
<h1><%= @product.title %></h1>
<%# Carousel %>
<%= render 'shared/carousel', title: @product.title %>

<div>
<!-- Description produit -->
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, dolore. Doloribus quas aut vitae consectetur perferendis blanditiis aperiam veritatis, ipsam tempore voluptates? Quas corrupti accusantium minus, consectetur atque deleniti odit.</p>
</div>

<h1>Réservation</h1>
<!-- Form Booking -->
<%= render 'form_booking'%>

<!-- Bouton de réservation -->
<% if user_signed_in? %>
  <%= render "form_booking" %>
<% else %>
  <%= link_to "Réservé", new_user_session_path %>
<% end %>
