<%# Nom du produit %>
<h1><%= @product.title %></h1>

<%# Carousel %>
<%= render 'shared/carousel', title: @product.title %>

<%# Description Produit %>
<div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, dolore. Doloribus quas aut vitae consectetur perferendis blanditiis aperiam veritatis, ipsam tempore voluptates? Quas corrupti accusantium minus, consectetur atque deleniti odit.</p>
</div>

<h1>Réservation</h1>
<!-- Form Booking -->
<%= render 'form_booking'%>

<!-- Bouton de réservation -->
<% if user_signed_in? %>
  <%= render "form_booking" %>
<% else %>
  <%= link_to "Booked", new_user_session_path %>
<% end %>


<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
